<ion-card class="estaun-card">
   <ion-img src="../../assets/Estaun-card.png" class="estaun-img"></ion-img>
   <ion-card-content class="estaun-login-form">
      <ion-list class="estaun-input-form">
         <h1>Inicia Sesión</h1>
         <ion-item>
            <ion-input
            type="text"
            fill="solid"
            label="Usuario"
            labelPlacement="floating"
            [(ngModel)] = "email"
          ></ion-input>
         </ion-item>       
         <ion-item>
            <ion-input
            type="password"
            fill="solid"
            label="Contraseña"
            labelPlacement="floating"
            [(ngModel)] = "pass"
            password
          ></ion-input>
         </ion-item>
         <ion-button
            class="form-launcher"
            fill = 'solid'
            color = 'success'
            (click) = "getFormValues()"
         >Inicia Sesión</ion-button>
       </ion-list>
   </ion-card-content>
</ion-card>