
.user-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-card-points{
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2px;
}

.point{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    color: black;
    text-align: center;
}

.marked-point{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    text-align: center;
}

.marked-point ion-icon{
    margin: auto;
}

.calendar-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px; 
}

ion-card{
    margin-top: 10%;
}

ion-title{
    text-align: center;
}

.calendar-title{
    margin-top: 1rem;
    padding: 5px;
}

.title{
    text-align: center;
    font-size: 1rem;
    padding: 2rem;
}

ion-datetime{
    width: 50%;
    margin: auto;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-button{
    margin-top: 2%;
}

ion-modal{
    overflow-y: scroll;
}